{{if .FixtureDetail.Matchups}}
<div class="glance-matchups">
    {{if eq .FixtureDetail.Status "Completed"}}
    <!-- Completed fixture with scores -->
    <div class="glance-matchups-title">🏆 Final Scores</div>

    <table class="matchups-table">
        <tbody>
            {{range .FixtureDetail.Matchups}}
            <tr>
                <td class="matchup-type-cell">{{.Matchup.Type}}</td>
                <td class="matchup-player-cell" colspan="2">
                    {{if .Players}}
                        {{if eq (len .Players) 1}}
                            {{$player := (index .Players 0)}}
                            {{if and $.FixtureDetail.DayCaptain (eq $player.Player.ID $.FixtureDetail.DayCaptain.ID)}}
                                <b>{{if $player.Player.PreferredName}}{{$player.Player.PreferredName}} (C){{else}}{{$player.Player.FirstName}} {{printf "%.1s" $player.Player.LastName}}. (C){{end}}</b>
                            {{else}}
                                {{if $player.Player.PreferredName}}{{$player.Player.PreferredName}}{{else}}{{$player.Player.FirstName}} {{printf "%.1s" $player.Player.LastName}}.{{end}}
                            {{end}}
                        {{else if eq (len .Players) 2}}
                            {{$player1 := (index .Players 0)}}
                            {{$player2 := (index .Players 1)}}
                            {{if and $.FixtureDetail.DayCaptain (eq $player1.Player.ID $.FixtureDetail.DayCaptain.ID)}}
                                <b>{{if $player1.Player.PreferredName}}{{$player1.Player.PreferredName}} (C){{else}}{{$player1.Player.FirstName}} {{printf "%.1s" $player1.Player.LastName}}. (C){{end}}</b>, {{if $player2.Player.PreferredName}}{{$player2.Player.PreferredName}}{{else}}{{$player2.Player.FirstName}} {{printf "%.1s" $player2.Player.LastName}}.{{end}}
                            {{else if and $.FixtureDetail.DayCaptain (eq $player2.Player.ID $.FixtureDetail.DayCaptain.ID)}}
                                {{if $player1.Player.PreferredName}}{{$player1.Player.PreferredName}}{{else}}{{$player1.Player.FirstName}} {{printf "%.1s" $player1.Player.LastName}}.{{end}}, <b>{{if $player2.Player.PreferredName}}{{$player2.Player.PreferredName}} (C){{else}}{{$player2.Player.FirstName}} {{printf "%.1s" $player2.Player.LastName}}. (C){{end}}</b>
                            {{else}}
                                {{if $player1.Player.PreferredName}}{{$player1.Player.PreferredName}}{{else}}{{$player1.Player.FirstName}} {{printf "%.1s" $player1.Player.LastName}}.{{end}}, {{if $player2.Player.PreferredName}}{{$player2.Player.PreferredName}}{{else}}{{$player2.Player.FirstName}} {{printf "%.1s" $player2.Player.LastName}}.{{end}}
                            {{end}}
                        {{else}}
                            <span class="tbd">TBD</span>
                        {{end}}
                    {{else}}
                        <span class="tbd">TBD</span>
                    {{end}}
                    {{/* Add scores on new line below */}}
                    {{if eq $.FixtureDetail.Status "Completed"}}
                    <br>
                    <span style="font-weight: 700; color: var(--primary-color); font-size: 0.9rem;">
                        {{/* Determine score perspective based on St Ann's position */}}
                        {{$showFromStAnnsView := false}}
                        {{if $.IsDerby}}
                            {{/* For derby matches, check if managing team is away */}}
                            {{if and $.ManagingTeam (eq $.ManagingTeam.ID $.FixtureDetail.AwayTeam.ID)}}
                                {{$showFromStAnnsView = true}}
                            {{end}}
                        {{else if $.IsStAnnsAway}}
                            {{/* For regular away matches, flip the scores */}}
                            {{$showFromStAnnsView = true}}
                        {{end}}
                        
                        {{if or .Matchup.HomeSet1 .Matchup.AwaySet1}}
                            {{if $showFromStAnnsView}}
                                [{{if .Matchup.AwaySet1}}{{.Matchup.AwaySet1}}{{else}}0{{end}}-{{if .Matchup.HomeSet1}}{{.Matchup.HomeSet1}}{{else}}0{{end}}{{if or .Matchup.HomeSet2 .Matchup.AwaySet2}}, {{if .Matchup.AwaySet2}}{{.Matchup.AwaySet2}}{{else}}0{{end}}-{{if .Matchup.HomeSet2}}{{.Matchup.HomeSet2}}{{else}}0{{end}}{{end}}{{if or .Matchup.HomeSet3 .Matchup.AwaySet3}}, {{if .Matchup.AwaySet3}}{{.Matchup.AwaySet3}}{{else}}0{{end}}-{{if .Matchup.HomeSet3}}{{.Matchup.HomeSet3}}{{else}}0{{end}}{{end}}]
                            {{else}}
                                [{{if .Matchup.HomeSet1}}{{.Matchup.HomeSet1}}{{else}}0{{end}}-{{if .Matchup.AwaySet1}}{{.Matchup.AwaySet1}}{{else}}0{{end}}{{if or .Matchup.HomeSet2 .Matchup.AwaySet2}}, {{if .Matchup.HomeSet2}}{{.Matchup.HomeSet2}}{{else}}0{{end}}-{{if .Matchup.AwaySet2}}{{.Matchup.AwaySet2}}{{else}}0{{end}}{{end}}{{if or .Matchup.HomeSet3 .Matchup.AwaySet3}}, {{if .Matchup.HomeSet3}}{{.Matchup.HomeSet3}}{{else}}0{{end}}-{{if .Matchup.AwaySet3}}{{.Matchup.AwaySet3}}{{else}}0{{end}}{{end}}]
                            {{end}}
                        {{else}}
                            {{if $showFromStAnnsView}}
                                ({{.Matchup.AwayScore}}-{{.Matchup.HomeScore}})
                            {{else}}
                                ({{.Matchup.HomeScore}}-{{.Matchup.AwayScore}})
                            {{end}}
                        {{end}}
                    </span>
                    {{end}}
                </td>
            </tr>
            {{end}}
        </tbody>
    </table>
    {{else}}
    <!-- Scheduled fixture without scores -->
    <table class="matchups-table">
        <tbody>
            {{range .FixtureDetail.Matchups}}
            <tr>
                <td class="matchup-type-cell">{{.Matchup.Type}}</td>
                {{if .Players}}
                    {{if eq (len .Players) 1}}
                        {{$player := (index .Players 0)}}
                        <td class="matchup-player-cell">
                            {{if and $.FixtureDetail.DayCaptain (eq $player.Player.ID $.FixtureDetail.DayCaptain.ID)}}
                                <b>{{if $player.Player.PreferredName}}{{$player.Player.PreferredName}} (C){{else}}{{$player.Player.FirstName}} {{printf "%.1s" $player.Player.LastName}}. (C){{end}}</b>
                            {{else}}
                                {{if $player.Player.PreferredName}}{{$player.Player.PreferredName}}{{else}}{{$player.Player.FirstName}} {{printf "%.1s" $player.Player.LastName}}.{{end}}
                            {{end}}
                        </td>
                        <td class="matchup-player-cell"></td>
                    {{else if eq (len .Players) 2}}
                        {{$player1 := (index .Players 0)}}
                        {{$player2 := (index .Players 1)}}
                        <td class="matchup-player-cell">
                            {{if and $.FixtureDetail.DayCaptain (eq $player1.Player.ID $.FixtureDetail.DayCaptain.ID)}}
                                <b>{{if $player1.Player.PreferredName}}{{$player1.Player.PreferredName}} (C){{else}}{{$player1.Player.FirstName}} {{printf "%.1s" $player1.Player.LastName}}. (C){{end}}</b>
                            {{else}}
                                {{if $player1.Player.PreferredName}}{{$player1.Player.PreferredName}}{{else}}{{$player1.Player.FirstName}} {{printf "%.1s" $player1.Player.LastName}}.{{end}}
                            {{end}}
                        </td>
                        <td class="matchup-player-cell">
                            {{if and $.FixtureDetail.DayCaptain (eq $player2.Player.ID $.FixtureDetail.DayCaptain.ID)}}
                                <b>{{if $player2.Player.PreferredName}}{{$player2.Player.PreferredName}} (C){{else}}{{$player2.Player.FirstName}} {{printf "%.1s" $player2.Player.LastName}}. (C){{end}}</b>
                            {{else}}
                                {{if $player2.Player.PreferredName}}{{$player2.Player.PreferredName}}{{else}}{{$player2.Player.FirstName}} {{printf "%.1s" $player2.Player.LastName}}.{{end}}
                            {{end}}
                        </td>
                    {{else}}
                        <td class="matchup-player-cell"><span class="tbd">TBD</span></td>
                        <td class="matchup-player-cell"></td>
                    {{end}}
                {{else}}
                    <td class="matchup-player-cell"><span class="tbd">TBD</span></td>
                    <td class="matchup-player-cell"></td>
                {{end}}
            </tr>
            {{end}}
        </tbody>
    </table>
    {{end}}
</div>
{{else if .FixtureDetail.SelectedPlayers}}
<div class="glance-matchups">
    <table class="matchups-table">
        <tbody>
            <tr>
                <td class="matchup-type-cell">Team</td>
                <td class="matchup-player-cell" colspan="2">
                    {{range $index, $player := .FixtureDetail.SelectedPlayers}}{{if $index}}, {{end}}{{if and $.FixtureDetail.DayCaptain (eq $player.PlayerID $.FixtureDetail.DayCaptain.ID)}}<b>{{if $player.Player.PreferredName}}{{$player.Player.PreferredName}} (C){{else}}{{$player.Player.FirstName}} {{printf "%.1s" $player.Player.LastName}}. (C){{end}}</b>{{else}}{{if $player.Player.PreferredName}}{{$player.Player.PreferredName}}{{else}}{{$player.Player.FirstName}} {{printf "%.1s" $player.Player.LastName}}.{{end}}{{end}}{{end}}
                </td>
            </tr>
        </tbody>
    </table>
</div>
{{end}} 